<div id="<%= dom_id ticket %>">
  <p>
    <strong>Title:</strong>
    <%= ticket.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= ticket.creator_id %>
  </p>

  <p>
    <strong>Developer:</strong>
    <%= ticket.developer_id %>
  </p>

  <p>
    <strong>Qa:</strong>
    <%= ticket.qa_id %>
  </p>

</div>
